body {
 font-family: Arial;
 padding: 24px;
}

input{
   padding: 5px;
   border: 2px solid black;
   width: 60px;
}

.aprovado {
 color: #15803D;
 font-weight: bold;
}
.reprovado {
 color: #BE123C;
 font-weight: bold;
}

.recuperacao {
    color: #D97706;
    font-weight: bold;
}

button{
   padding: 10px;
   background-color: goldenrod;
   border: none;
   border-radius: 25px;
}